<?xml version="1.0" ?><manifest android:versionCode="1" android:versionName="1" package="com.iowalum.uiowaalumni" xmlns:android="http://schemas.android.com/apk/res/android">
        <supports-screens android:anyDensity="false"/><uses-sdk android:targetSdkVersion="11"/>

        
        <application android:debuggable="true" android:icon="@drawable/appicon" android:label="UIowa Alumni" android:name="UiowaAlumniApplication">

                <!-- TI_APPLICATION -->

                <activity android:configChanges="keyboardHidden" android:screenOrientation="portrait" android:label="UIowa Alumni" android:name=".UiowaAlumniActivity" android:theme="@style/Theme.Titanium">
                        <intent-filter>
                                <action android:name="android.intent.action.MAIN"/>
                                <category android:name="android.intent.category.LAUNCHER"/>
                        </intent-filter>
                </activity>
<!--
                <activity android:configChanges="keyboardHidden" android:launchMode="singleTask" android:name="ti.modules.titanium.map.TiMapActivity"/>
                <uses-library android:name="com.google.android.maps"/>
-->
                <activity android:configChanges="keyboardHidden" android:screenOrientation="portrait" android:name="org.appcelerator.titanium.TiActivity"/>
                <activity android:configChanges="keyboardHidden" android:screenOrientation="portrait" android:name="org.appcelerator.titanium.TiTranslucentActivity" android:theme="@android:style/Theme.Translucent"/>
                <activity android:name="ti.modules.titanium.ui.android.TiPreferencesActivity"/>

                <service android:exported="false" android:name="org.appcelerator.titanium.analytics.TiAnalyticsService"/>
                <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBBDvVmf2uzpvo5TGPLTG8TJZcuYqSFuBY"/>
        </application>

        
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
            <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
            <uses-permission android:name="com.iowalum.uiowaalumni.permission.MAPS_RECEIVE"/>
            <permission android:name="com.iowalum.uiowaalumni.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
            

</manifest>